<!-- Content Block
============================================-->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container no-pad-t">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col col-sm-9 col-md-9 mgb-30-xs">
      
        <h4>New Content</h4>
        
        <!-- Accordion -->

		<%= render 'form' %>

		<%= link_to 'Back', contents_path %>
        <!-- /Accordion -->
        
      </div>
      <!-- /Main Col -->

	<%= render 'pages/admin_side_bar' %>
		
	</div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
  
</section>
<!-- /Content Block
============================================-->