<!-- Info Block
============================================ -->
<div class="info-block page-bg overlay-dark boxed-section">

  <!-- Container -->
  <div class="container">
  
    <!-- Row -->
    <div class="row">
      <!-- Col -->
      <div class="col-md-3 hidden-xs hidden-sm">
        <span class="text case-u"><i class="ti ti-comments icon-left"></i>live chat</span>
      </div>
      <!-- Col -->
      
      <!-- Col -->
      <div class="col-md-6">
        <span class="text case-u align-center">enjoy free <a href="#">delivery</a> for any <a href="#">orders</a> within the city</span>
      </div>
      <!-- Col -->
      
      <!-- Col -->
      <div class="col-md-3 hidden-xs hidden-sm">
        <span class="text case-u pull-right"><i class="ti-headphone-alt icon-left"></i><b class="visible-lg-inline">support : </b>+(254) 560 400 333</span>
      </div>
      <!-- /Col -->
      
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->

</div>
<!-- /Info Block
=================================================== -->