<!--Hero Static-->
  <section class="hero-static">
  	<div class="overlay"></div>
  	
  	<div style="background-image" data-stellar-background-ratio="0.5"><%= image_tag 'banner_1.jpg', class: "bg-image" %></div>
    <div class="container">
    	<div class="row">
      	<div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8">
        	<h1>Header</h1>
          <p>Lorem ipsum dolor sit amet, reque praesent ne vis, unum tota choro eam ei, usu essent aeterno delicata no. Veri ignota persius mea no. Duo causae audiam consetetur ex. An qui antiopam similique, harum homero erroribus ad nec, sit harum virtute no. Ad eos doctus lobortis, soluta evertitur complectitur at per. Ferri errem recteque vis te.</p>
        </div>
      </div>
      <div class="row">
      	<div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-7">
        	<a class="btn btn-primary btn-block" href="#"><span>Ready?</span>Get Started.</a>
        </div>
      </div>
    </div>
  </section><!--Hero Static Close-->