<!--Info Block with Image Background-->
  <section style="background-image: url(img/info-blocks/parallax-bg-img1.jpg);" class="info-block-image" data-stellar-background-ratio="0.5">
  	<div class="overlay"></div>
  	<div class="container">
    	<div class="row">
      	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
          <h2>Eco-friendly materials in our shop</h2>
          <div class="row">
          	<div class="icon col-lg-4 col-md-4 col-sm-4">
            	<i class="fa fa-recycle"></i>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
            	<p class="p-style3">Let the customer know if there's anything you can be proud of. If you have a clear business concept provide a description for it. Do you have a flexible return policy or discounts for loyal customers? It's great! Tell them about it in this module. For instance, put some notes from what fabric clothing is made of in case you run an apparel store. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--Info Block Close-->