<!--Info Block with Image Background-->
  <section style="info-block">
  	<div class="overlay"></div>
  	<div class="container">
    	<div class="row">
      	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
          <h2>Sub Heading Text</h2>
          <div class="row">
          	<div class="icon col-lg-4 col-md-4 col-sm-4">
            	<i class="fa fa-recycle"></i>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
            	<p class="p-style3">Cu nemore sensibus necessitatibus vis, mel cu quod probo nominati. Ut malorum scriptorem his, nec ut etiam epicurei, tota principes mediocritatem eum te. Vis tollit fastidii elaboraret an, prompta diceret at mei. Vim ne vitae ubique noster, sea duis eirmod salutandi eu. Ne facer augue sea, te ferri debitis percipit vel. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--Info Block Close-->