<!--Info Block-->
  <section class="info-block">
  	<div class="container">
    	<div class="row">
      	<div class="text col-lg-5 col-md-5 col-sm-6">
        	<p>Has the customer got interest in the first slider? Provide the link to the product at once, the customer may purchase it immediately. Help to do it!</p>
          <a class="btn-outlined btn-default" href="#">Read more</a>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6">
          <img class="center-block" src="img/info-blocks/1.jpg" alt="1"/>
        </div>
      </div>
    </div>
  </section><!--Info Block Close-->