<!--Info Block-->
  <section class="info-block">
  	<div class="container">
    	<div class="row">
      	<div class="text col-lg-5 col-md-5 col-sm-6">
        	<p>Et cum diam quaeque, cu voluptua imperdiet consectetuer vim. Vis delectus volutpat ut. Unum sale facilisi ad nam, in clita nonumy laudem quo.</p>
          <a class="btn-outlined btn-default" href="#">Read more</a>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6">
          <%= image_tag "info-block-1.jpg", class: "center-block", alt: "1" %>
        </div>
      </div>
    </div>
  </section><!--Info Block Close-->