<!-- Content Block
============================================ -->
<div class="content-block boxed-section cover-1-bg overlay-dark" >

  <!-- Container -->
  <div class="container cont-lg">
  
    <!-- Promo Text -->
    <div class="promo-text">
      <h1>hot new arrivals</h1>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur veli.</p>
      <a class="btn btn-outline outline-white">shop now</a>
    </div>
    <!-- Promo Text -->
  
  </div>
  <!-- /Container -->
  
</div>  
<!-- /Content Block
============================================ -->


<!-- Info Block
============================================ -->
<div class="info-block page-bg overlay-dark boxed-section">

  <!-- Container -->
  <div class="container">
  
    <!-- Row -->
    <div class="row">
      <!-- Col -->
      <div class="col-md-3 hidden-xs hidden-sm">
        <span class="text case-u"><i class="ti ti-comments icon-left"></i>live chat</span>
      </div>
      <!-- Col -->
      
      <!-- Col -->
      <div class="col-md-6">
        <span class="text case-u align-center">enjoy free <a href="#">delivery</a> for any <a href="#">orders</a> within the city</span>
      </div>
      <!-- Col -->
      
      <!-- Col -->
      <div class="col-md-3 hidden-xs hidden-sm">
        <span class="text case-u pull-right"><i class="ti-headphone-alt icon-left"></i><b class="visible-lg-inline">support : </b>+(254) 560 400 333</span>
      </div>
      <!-- /Col -->
      
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->

</div>
<!-- /Info Block
=================================================== -->