<!-- Side Col -->
<div class="side-col side-col-padded col-sm-3 col-md-3">

  <!-- Side Widget -->
  <div class="side-widget">
  
    <h5 class="boxed-title">categories</h5>
    
    <ul class="ul-toggle">
      <% Gallery.all.each do |gallery| %>
        <li><%= link_to gallery.name, gallery_path(gallery.id) %></li>
      <% end %>
    </ul>
    
    
  </div>
  <!-- /Side Widget -->
  
  <!-- Side Widget -->
  <div class="side-widget">
  
    <h5 class="boxed-title">recent items</h5>
    
    <ul class="vlinks vlinks-iconed vlinks-ruled-dots vlinks-lg">
      <% Item.take(3).each do |item| %>
        <li><%= image_tag item.image_2.thumb, class: "img" %><%= link_to item.name, item_path(item.id) %><span class="meta"><i class="icon-left fa fa-calendar"></i><%= item.created_at.to_formatted_s(:long) %></span></li>
      <% end %>
    </ul>
    
  </div>
  <!-- /Side Widget -->
  
</div>
<!-- /Side Col -->