<!-- hlinks -->
<ul class="page-links pull-right hlinks hlinks-icons color-icons-borders color-icons-bg-hovered">
  <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
  <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
  <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
</ul>
<!-- /hlinks -->