<!-- Intro Block
============================================-->
<section class="intro-block intro-page boxed-section page-bg overlay-dark">

  <!-- Container -->
  <div class="container">     
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>About Gather</h2>
      <p class="hidden-xs"></p>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>
<!-- /Intro Block
============================================-->

<!-- Page Info Block
============================================-->
<section class="page-info-block boxed-section">

  <!-- Container -->
  <div class="container cont-pad-x-15"> 

    <!-- Breadcrumb -->
    <ol class="breadcrumb pull-left">
      <li><a href="#"><i class="ti ti-home"></i></a></li>
      <li><a href="#">About</a></li>
      <li class="active">About Becoming a Gather Artist</li>
    </ol>
    <!-- /Breadcrumb --> 

    <!-- hlinks -->
    <ul class="page-links pull-right hlinks hlinks-icons color-icons-borders color-icons-bg-hovered">
      <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
    </ul>
    <!-- /hlinks -->

  </div>
  <!-- /Container -->

</section>
<!-- /Page Info  Block
============================================-->

<!-- Content Block
============================================-->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container no-pad-t">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col col-sm-8 col-md-8 mgb-30-xs">
      
        <h4>About Becoming a Gather Artist</h4>
        <p>If you are an artist who is interested in joining the Gather Art Registry, we will be hosting a selection process each year in the early spring. Our next call deadline is ________(date).  Please follow the call for entries procedure below. We’re excited to get to know you and your work!</p>
        
        <!-- Accordion -->
        <div class="panel-group" id="accordion">
        	
        	<%= @content.each do |content| %>
          <!-- Panel -->
          <div class="panel panel-default">
            <!-- Heading -->
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <%= content.title %>
              </a>
              </h4>
            </div>
            <!-- /Heading -->
            
            <!-- Collapse -->
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
              <%= content.body %>
              </div>
            </div>
            <!-- /Collapse -->
            
          </div>
          <!-- /Panel -->
          <% end %>
          
        </div>
        <!-- /Accordion -->
        
      </div>
      <!-- /Main Col -->
      
      <%= render 'side_bar' %>

    </div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
  
</section>
<!-- /Content Block
============================================-->

<!-- Info Block
============================================ -->
<div class="info-block page-bg overlay-dark boxed-section">

  <!-- Container -->
  <div class="container">
  
    <!-- Row -->
    <div class="row">
      <!-- Col -->
      <div class="col-md-3 hidden-xs hidden-sm">
        <span class="text case-u"><i class="ti ti-comments icon-left"></i>live chat</span>
      </div>
      <!-- Col -->
      
      <!-- Col -->
      <div class="col-md-6">
        <span class="text case-u align-center">enjoy free <a href="#">delivery</a> for any <a href="#">orders</a> within the city</span>
      </div>
      <!-- Col -->
      
      <!-- Col -->
      <div class="col-md-3 hidden-xs hidden-sm">
        <span class="text case-u pull-right"><i class="ti-headphone-alt icon-left"></i><b class="visible-lg-inline">support : </b>+(254) 560 400 333</span>
      </div>
      <!-- /Col -->
      
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->

</div>
<!-- /Info Block
=================================================== -->