<!-- Intro Block
============================================-->
<section class="intro-block intro-page boxed-section page-bg overlay-dark">

  <!-- Container -->
  <div class="container">     
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>Gather Mission Statement</h2>
      <p class="hidden-xs"></p>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>
<!-- /Intro Block
============================================-->

<!-- Page Info Block
============================================-->
<section class="page-info-block boxed-section">

  <!-- Container -->
  <div class="container cont-pad-x-15"> 

    <!-- Breadcrumb -->
    <ol class="breadcrumb pull-left">
      <li><%= link_to "<i class='icon-left ti ti-home'></i>".html_safe, root_path %></li>
      <li class="active">Gather Mission Statement</li>
    </ol>
    <!-- /Breadcrumb --> 

    <%= render "pages/social_links" %>

  </div>
  <!-- /Container -->

</section>
<!-- /Page Info  Block
============================================-->

<!-- Content Block
============================================-->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container no-pad-t">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col col-sm-9 col-md-9 mgb-30-xs">
      
        <h4>Gather Mission Statement</h4>
        <p>
        	Gather sees the work of artists as an intrinsic part of a just and beautiful society.  We value work made by hand, and creative ingenuity and design from within our local community. We want to give artists an opportunity to reach new collectors, and our local community access to high quality art. Gather’s mission is to both spark new interest in art collecting and to deepen the ties artists have within the local creative economy. We value objectively good art work that has been curated by experts - both in and around our local art community. We also want to offer a wide variety of aesthetics, mediums and processes in our collection. Finally, we seek to empower the voices of our clients who may be experienced art collectors or who are embarking on a new adventure as they choose pieces of art that reflect their interests and values. We know that amazing art is being made that we haven’t been introduced to, and we are pleased to open our doors to those artists and ones who are personally connected to our clients. Gather hopes to renew what we see as a long-standing social contract with artists: Art is foundational to quality human existence and is a cornerstone to robust communities. By introducing art into an existing part of our social structure —marriage— we hope to engender a long-lasting relationship between couples, families and art.
        </p>
        
      </div>
      <!-- /Main Col -->
      
      <%= render 'side_bar' %>

    </div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
  
</section>
<!-- /Content Block
============================================-->