<!-- Intro Block
============================================-->
<section class="intro-block intro-page boxed-section page-bg overlay-dark">

  <!-- Container -->
  <div class="container">     
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>About the Gather Team</h2>
      <p class="hidden-xs"></p>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>
<!-- /Intro Block
============================================-->

<!-- Page Info Block
============================================-->
<section class="page-info-block boxed-section">

  <!-- Container -->
  <div class="container cont-pad-x-15"> 

    <!-- Breadcrumb -->
    <ol class="breadcrumb pull-left">
      <li><%= link_to "<i class='icon-left ti ti-home'></i>".html_safe, root_path %></li>
      <li class="active">About the Gather Team</li>
    </ol>
    <!-- /Breadcrumb --> 

    <%= render "pages/social_links" %>

  </div>
  <!-- /Container -->

</section>
<!-- /Page Info  Block
============================================-->

<!-- Content Block
============================================-->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container no-pad-t">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col col-sm-9 col-md-9 mgb-30-xs">
      
        <h4>About the Gather Team</h4>
        <p>
        	Coming Soon
        </p>
        
      </div>
      <!-- /Main Col -->
      
      <%= render 'side_bar' %>

    </div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
  
</section>
<!-- /Content Block
============================================-->
