<!-- Intro Block
============================================-->
<section class="intro-block intro-page boxed-section page-bg overlay-dark">

  <!-- Container -->
  <div class="container">     
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>New Item</h2>
      <p class="hidden-xs">Some text about creating a new registry.</p>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>
<!-- /Intro Block
============================================-->